<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: {class: "form-actions form-horizontal"}) do |f| %>

<%= devise_error_messages! %>
<div class="control-group">
<%= image_tag(current_user.attachment ? current_user.attachment.attachment : "user.png",class: "img-circle", size: "100x100") %>

</div>

<div class="control-group">
<label class="control-label" for="">First Name:</label>
<div class="controls">
  <%= f.text_field :first_name, autofocus: true, class: "input-block-level", value: current_user.first_name %>
</div>
</div>
  


<div class="control-group">
<label class="control-label" for="">Last Name:</label>
<div class="controls">
  <%= f.text_field :last_name, class: "input-block-level", value: current_user.last_name %>
</div>
</div>


 <div class="control-group">
<label class="control-label" for="">Mobile number:</label>
<div class="controls">
  <%= f.text_field :mobile_no, class: "input-block-level", value: current_user.mobile_no %>
</div>
</div>

 <div class="control-group">
<label class="control-label" for="">Fax:</label>
<div class="controls"> 
  <%= f.text_field :fax, class: "input-block-level", value: current_user.fax %>  
</div>
</div>

<div class="control-group">
<label class="control-label" for="">Current Password:</label>
<div class="controls">
<%= f.password_field :current_password, autocomplete: "off" %>
</div>
</div>




<div class="control-group pull-right">
<div class="controls">
<button type="submit" class="btn" name="editUser">Update</button>
</div>
</div>
<% end %>