<section class="well well-small mePadd">
                <h2 class="meFont" style="padding-bottom:30px;"><span class="icon-comment meMarg"></span> Edit profile</h2>
                    <div class="">
<%= form_for((@tickets), html: {class: "form-actions form-horizontal"}) do |f| %>
<%= devise_error_messages! %>


<div class="control-group">
<label class="control-label" for="">Subject:</label>
<div class="controls">
  <%= f.text_field :subject,value: current_ticket.subject, class: "input-block-level" %>
</div>
</div>
  
<div class="control-group">
<label class="control-label" for="">Message:</label>
<div class="controls">
  <%= f.text_area :message,value: current_ticket.message, class: "input-block-level" %>
</div>
</div>



<div class="control-group">
<label class="control-label" for="">Department:</label>
<div class="controls">
<select id="ticket_department_id" name="ticket[department_id]">
<option value="">Select department</option>
<% @dept.each do |a| %>
<option value= "<% a.id %>" > <%= a.name %> </option>
<% end %>
</select>
</div>
</div>

<div class="control-group">
<label class="control-label" for="">Priority:</label>
<div class="controls">
<select id="ticket_priority_id" name="ticket[priority_id]">
<option value="">Select Priority</option>
<% @priority.each do |b| %>
<option value= "<% b.id %>" > <%= b.name %> </option>
<% end %>
</select>
</div>
</div>


<div class="control-group pull-right">
<div class="controls">
<button type="submit" class="btn" name="editUser">Update</button>
</div>
</div>



<% end %>
</div>
</section><!--Edit ticket Ends-->