<section class="well well-small mePadd">
                <h2 class="meFont" style="padding-bottom:30px;"><span class="icon-comment meMarg"></span> New Ticket</h2>
                    <div class="">
<%= form_for((@tickets), html: {class: "form-actions form-horizontal"}) do |f| %>
<% if @tickets.errors.any? %>
<%= pluralize(@tickets.errors.count, "error") %>
<ul>
<% @tickets.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
<% end %>
</ul>

<div class="control-group">
<label class="control-label" for="">Subject:</label>
<div class="controls">
  <%= f.text_field :subject, autofocus: true, class: "input-block-level" %>
</div>
</div>
  
<div class="control-group">
<label class="control-label" for="">Message:</label>
<div class="controls">

  <%= f.text_area :message, class: "input-block-level" %>
</div>
</div>



<div class="control-group">
<label class="control-label" for="">Department:</label>
<div class="controls">
<%=f.select :department_id, options_for_select(@dept.map{ |c| [c.name, c.id]}) %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="">Priority:</label>
<div class="controls">
<%=f.select :priority_id, options_for_select(@priority.map{ |d| [d.name, d.id]}) %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="">Attachment:</label>
<div class="controls">
<%= f.fields_for :attachment, (Attachment.new) do |attachment_form| %>
     
<%= attachment_form.file_field :attachment %>

<%end%>
</div>
</div>



<div class="control-group pull-right">
<div class="controls">
<%= f.submit %>
</div>
</div>



<% end %>
</div>
</section><!--Edit user profile Ends-->