

<p>
  <strong>Subject:</strong>
  <%= @tickets.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @tickets.message%>
</p>

<p>
  <strong>Department:</strong>
  <%= @tickets.department.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @tickets.priority.name %>
</p>

<%= link_to 'Edit', edit_ticket_path(@tickets) %> |
<%= link_to 'Back', tickets_path %>